<main class="main-form">
  <header class="main-form-header">
    <h2 ng-bind="event.name"></h2>
  </header>
  <div class="panel panel-default">
  	<div class="back-link-header">
  		<a ui-sref="app.event({username: username, slug: event.slug})">
  		<h6>
  			<span class="glyphicon glyphicon-arrow-left"></span> Back to event
  		</h6>
  		</a>
  	</div>
  	<div class="panel-heading">Basics</div>
  	<div class="panel-body">
  		<form role="form" name="eventForm" novalidate>

  			<!-- name -->
			  <div class="form-group">
			    <label for="name">Name</label>
			    <input type="text" class="form-control" name="name" placeholder="Enter a name for this event" ng-model="updatedEvent.name" ng-required="true" ng-minlength="3" ng-maxlength="50" autofocus />
			  </div>

			  <!-- slug -->
			  <div class="form-group" ng-class="{ 'has-error': eventForm.slug.$invalid }">
			    <label for="slug">Url</label>
			    <input type="text" class="form-control" id="slug" name="slug" placeholder="Event url" ng-model="updatedEvent.slug" ng-required="true" ng-minlength="3" ng-maxlength="60" slug />
			    <p class="text-muted" ng-bind="baseEventUrl + updatedEvent.slug"></p>
			    <p class="help-block" ng-show="eventForm.slug.$error.required">Required.</p>
			    <p class="help-block" ng-show="eventForm.slug.$error.minlength">Too short.</p>
			    <p class="help-block" ng-show="eventForm.slug.$error.maxlength">Too long.</p>
			    <p class="help-block" ng-show="eventForm.slug.$error.slug">Slugs can only have letters and dashes (-).</p>
			  </div>

			  <!-- start -->
			  <div class="form-group">
			    <label for="start">When is this event?</label>
			    <div class="form-group">
		      	<input size="10" class="form-control" ng-model="updatedEvent.start" data-autoclose="1" placeholder="Start date" bs-datepicker type="text" />
			    </div>
			    <div class="form-group">
			      <input size="8" class="form-control" ng-model="updatedEvent.start" data-autoclose="1" placeholder="Start time" bs-timepicker data-time-format="hh:mm a" data-length="1" data-minute-step="1" data-arrow-behavior="picker" type="text" />
			    </div>
			  </div>

			  <!-- description -->
			  <div class="form-group" ng-class="{ 'has-error': eventForm.description.$invalid }">
			    <label for="description">Description</label>
			    <textarea class="form-control" name="description" placeholder="Set a brief, catchy description" ng-model="updatedEvent.description" ng-maxlength="200" />
			    <p class="help-block" ng-show="eventForm.description.$error.maxlength">Too long.</p>
			  </div>

			  <!-- location -->
			  <div class="form-group" ng-class="{ 'has-error': eventForm.location.$invalid }">
			    <label for="location">Location</label>
			    <input type="text" class="form-control" name="location" placeholder="Location" ng-model="updatedEvent.location" ng-maxlength="30" />
			    <p class="help-block" ng-show="eventForm.location.$error.maxlength">Too long.</p>
			  </div>

			  <!-- save button -->
			  <div class="form-group">
			  	<button class="btn btn-success" ng-disabled="eventForm.$invalid || eventForm.$pristine || savingEvent.pending " ng-click="save()">Save all event settings</button>
			  	<div ng-show="savingEvent.pending">Saving...</div>
			  </div>

			</form>
		</div>
	</div>

	<div class="panel panel-danger">
  	<div class="panel-heading">Danger Zone</div>
  	<div class="panel-body">
	  	<form role="form" name="deleteEvent" novalidate>

		  	<!-- Enter delete mode -->
		  	<div class="form-group" ng-show="!deleting">
					<button class="btn btn-danger" ng-click="deleting=true">Delete this event...</button>
				</div>
		
		  	<!-- Confirm name -->
		  	<div class="form-group" ng-show="deleting">
					<label for="name">Confirm the event name</label>
		    	<input type="text" class="form-control" name="name" placeholder="Event name" ng-model="confirmName" />
				</div>
		
		  	<!-- Confirm event deletion -->
		  	<div class="form-group" ng-show="deleting">
					<p>
						Are you totally sure you want to delete this event? This action cannot be undone. No magical undo, no backups, no going back. All messages, and any other information in this event will be gone forever.
					</p>
					<button class="btn btn-default" ng-click="confirmName=''; deleting=false">Cancel</button>
					<button class="btn btn-danger" ng-disabled="confirmName!==event.name" ng-click="delete()">Delete this event forever</button>
				</div>

			</form>
  	</div>
	</div>

</main>


<footer class="notification-bar notification-bar-success notification-bar-bottom animate" ng-show="savingEvent.success">
	Event settings saved. 
</footer>

<footer class="notification-bar notification-bar-danger notification-bar-bottom animate" ng-show="savingEvent.error">
	Failed to save profile settings. Correct any errors and try again. 
</footer>
