<!--
<div class="pending-event-view" ng-show="!isEventInPast()">
	<h1 class="text-center event-title">
		<span class="emphasize" ng-bind="event.name" />
	</h1>
	<div class="text-center">
		<br />
		<h3 class="text-muted">will start...</h3>
		<br />
		<div id="countdown-clock" />
		<div id="countdown-text" am-time-ago="event.start" />
		<br />
		<h5 class="text-muted">on {{event.start | amDateFormat:'dddd, MMMM Do YYYY [at] h:mm a'}}.</h5>
		<button class="btn btn-info btn-xlrg">Subscribe and get a reminder</button>
	</div>
</div>
-->

<div ui-view></div>
<header ng-show="unread.length" class="unread-status-bar" style="">
	<div>
		<span ng-bind="unread.length"></span> new 
		<span ng-pluralize count="unread.length" when="{'1': 'message.', 'other': 'messages.'}" ></span>
		<a style="color: black; cursor: pointer;" ng-click="scrollToUnread()"> View now</a>
	</div>
</header>
<div class="active-event-view">
	<header class="event-header textured-carbon-bg">
		<h3 class="event-title">
			<a ui-sref="app.editEvent({username: username, slug: slug})">
				<span class="emphasize" ng-bind="event.name" />
			</a>
		</h3>
		<div class="event-description" ng-bind="event.description" />
		<div class="set-cover-button-wrapper">
			<a ui-sref="app.editEventWithHash({username: username, slug: slug, 'hash': 'coverPhoto'})">
				<button class="set-cover-button">
					<span ng-if="event.coverPhoto">Update cover photo</span>
					<span ng-if="!event.coverPhoto">Set cover photo</span>
				</button>
			</a>
		</div>
		<div class="event-owner" ng-show="user.$resolved">
			<a ui-sref="app.profile({username: username})">
				<img class="event-owner-img" ng-show="user.emailHash" ng-src="//www.gravatar.com/avatar/{{user.emailHash}}?s=100&d=mm" />
			</a>
			<div class="event-owner-name">
				by 
				<a ui-sref="app.profile({username: username})">
					<span ng-bind="user.name || '@'+user.username" />
				</a>
			</div>
		</div>
	</header>
	<div class="event-status-bar" in-view="showUnread($inview)">
		<div class="status-panel message-count-panel">
			<header>Posts</header>
			<span class="status-number" ng-bind="messages.length || 0" />
		</div>
		<div class="status-panel viewer-count-panel">
			<header>Viewers</header>
			<span class="status-number" ng-bind="viewers || 1" />
		</div>
		<div class="event-start pull-right" ng-if="event.start">
			<span class="glyphicon glyphicon-time" /> Starts <span am-time-ago="event.start" />
		</div>
		<div class="event-location pull-right" ng-if="event.location">
			<span class="glyphicon glyphicon-map-marker" /> <span ng-bind="event.location" />
		</div>
		<div class="typing-status" ng-show="typing">
			<span ng-show="typing.author" ng-bind="(typing.author.name || '@'+typing.author.username) + ' is '" />
			<span ng-bind="'typing a message...'" />
		</div>
	</div>
	
	<main class="messages">
		<div class="event-postmessage">
			<a ui-sref="app.event.post({username: username, slug: slug})">
				<button class="btn btn-success btn-lg event-postmessage-button">+</button>
			</a>
		</div>
		<article class="message" ng-repeat="message in messages | orderBy:'sent':true" ng-include="'modules/core/views/message.view.html'" />
	</main>
</div>
