<section class="message-text" ng-bind-html="message.html | unsafe" compile-template id="{{message.id}}" />
<footer class="message-footer">
	<span class="message-author">
		<a ui-sref="app.profile({username: message.author.username})"><img class="message-author-img" ng-src="//www.gravatar.com/avatar/{{message.author.emailHash}}?s=30&d=mm" /></a>
		<a ui-sref="app.profile({username: message.author.username})">
			<span ng-bind="message.author.displayName" />
		</a>
	</span>
	<span class="message-footer-divider"> | </span>
	<time class="message-sent-time" am-time-ago="message.sent" />
	<span ng-show="canEditMessage(message)">
		<span class="message-footer-divider"> | </span>
		<a class="message-edit-link" ui-sref="app.event.editPost({username: username, slug: slug, messageId: message.id})">Edit</a>
	</span>
</footer>
