<footer class="main-footer">
	<div>
		<a href="about">About</a>
		<a href="contact">Contact</a>
		<a href="https://github.com/mwindle/litepost.io">On GitHub</a>
		<a href="terms">Terms</a>
		<a href="privacy">Privacy</a>
	</div>
	<div class="creation-statement">
		Created in my living room. 
	</div>
</footer>