
# iOS / Apple
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Sublime Text workspace and project files
.sublime-project
*.sublime-project
*.sublime-workspace

# Eclipse project files
.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties

# General
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/

# Node.js node_modules, installed later with npm install
node_modules

# Bower components
public/components

# Secrets
app/config/env