<!DOCTYPE html>
<html lang="en">
	<head>
		<title>LitePost.io - Publish Instantly to a Live Audience.</title>
		<% include partials/stylesheets %>
	</head>
	<body>
		<% include partials/top-bar %>
	  <div class="main-content">
	  	<header class="hero-banner">
		  	<h1 class="text-center">
		  		Publish <span class="emphasize">instantly</span> to a <span class="emphasize">live</span> audience.
		  		<div><a href="/join"><button class="btn btn-primary">Join now</button></a></div>
		  		<div><small>or <a href="/login">sign in</a>.</small></div>
		  	</h1>
		  </header>
			<% include partials/footer %>
		</div>
	</body>
</html>