<!DOCTYPE html>
<html lang="en">
	<head>
		<title>LitePost.io - Publish Instantly to a Live Audience.</title>
		<% include partials/stylesheets %>
	</head>
	<body>
		<% include partials/top-bar %>
	  <div class="main-content">
	  	<div class="home-page-tagline textured-carbon-bg">
		  	<header class="hero-banner text-center">
			  	<h1>
			  		Publish <span class="emphasize">instantly</span> to a <span class="emphasize">live</span> audience.
			  		<div><a href="/join"><button class="btn btn-primary">Join now</button></a></div>
			  	</h1>
			  	<h5>or <a href="/login">sign in</a>.</h5>
			  </header>
			</div>
			blah blah blah, this is where you learn more. 
			<% include partials/footer %>
		</div>
	</body>
</html>