
* { 
	margin: 0; 
	padding: 0; 
}

body { 
	height: 100%;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	font-size: 3em; 
	line-height: 2em;
	color: #444;
	background-color: #EFEFEF;
	margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald';
	font-weight: 300;
}
h1 { font-size: 6em; font-weight: 400; }
h2 { font-size: 5em; }
h3 { font-size: 4em; }
h4 { font-size: 3em; }
h5 { font-size: 2em; }
h6 { font-size: 1em; }

a, a:hover {
	color: #c7254e;
}

#top-bar { 
	z-index: 2;
	color: #FFF; 
	width: 100%; 
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
	height: 50px;
}
#top-bar .logo {
	margin: 0px; 
}

.main-content {
	min-height: 100%;
	height: 100%;
	position: relative;
	padding-bottom: 200px;
}

.logo a {
	color: #FFF;
	text-decoration: none;
	letter-spacing: 0.08em;
}
.hero-banner {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.hero-banner h1 {
	margin-top: 0px;
}
.hero-banner button {
	font-size: 1em;
	margin-top: 30px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: 20px;
}
.textured-carbon-bg {
	background: url('/images/tactile_noise.png') repeat scroll 0% 0% transparent;
	color: #FFF;
} 
.home-page-tagline.textured-carbon-bg {
	padding-bottom: 5em;
	border-bottom: 2px solid #c7254e;
}

.main-footer {
	text-align: center;
	border-top: 1px solid #CCC;
	height: 200px;
	width: 80%;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -40%;
	padding: 3em;
}
.main-footer a {
	margin: 1em;
}
.main-footer .creation-statement {
	margin-top: 3em;
}

.emphasize {
	color: #c7254e;
}

.login-form {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	text-align: left;
}
.login-form input, .login-form button {
	font-size: 2em;
	height: 2em;
}
.login-form label {
	color: #AAA;
}
.app-content {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.event-status-bar {
	border-bottom: 1px solid #CCC;
	width: 100%;
	height: 60px;
	background: #FFF;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
}
.event-status-bar .event-title {
	margin: 0px;
	width: 100%;
	display: inline-block;
	position: absolute;
	left: 50%;
	margin-left: -50%;
}
.status-panel {
	min-height: 60px;
	max-height: 60px;
	min-width: 75px;
	max-width: 75px;
	margin-left: 5px;
	border: 1px solid black;
	text-align: center;
	display: block;
	position: relative;
	float: left;
	top: 0px;
	text-transform: uppercase;
	font-size: 0.8em;
	background: #444;
	color: #FFF;

}
.status-panel .message-count-panel {
	margin-right: 20px;
}
.status-panel .status-number {
	font-size: 1.8em;
}

.typing-status {
	background: url("/images/imessage-sending-animated-gif.gif") center center no-repeat;
	height: 40px;
	text-align: center;
}
.typing-status > span {
	margin-left: -10em;
}



#top-bar.editing { background: #000; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { background: rgb(130, 224, 255); border: none; padding: 10px; }

#cancel-edit { color: #FFF; display: none; }


#editor-panel {
	width: 90%; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}
#editor {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 1em;
	left: 0px;
	background: #EFEFEF;
}
#m { 
	width: 100%;
	resize: vertical;
	padding: 0.5em;
	font-size: 1em;
	line-height: 1.5em;
}
.md-header {
	background: #AAA;
}
#preview-panel {
	height: 100%;
	border-top: 1px solid #CCC;
	margin-top: 1em;
	padding-bottom: 200px;
}
#message-preview { 
	padding: 30px; 
	padding-top: 0px;
}
#action-panel {
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: #666;
	padding: 10px;
	border-top: 1px solid #000;
}

.main-content { width: 100%; }

.event-countdown-container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#countdown-clock {
	width: 650px;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}
.flip-clock-label {
	font-size: 2em;
	font-weight: 700;
	font-family: 'Oswald';
}

ol#messages {
	width: 100%;
	margin-top: 200px;
}

li.message { 
	list-style: none;
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
}
#message-preview li.message {
	margin-top: 1em;
}

.message-sent { 
	font-size: 0.5em; 
	height: 100px;
	width: 15%;
	padding-right: 1em;
	text-align: right;
}

.message-sent .sent-time { 
	color: #888;
}

.message-text {
	width: 80%;
	position: relative;
	top: -100px;
	left: 15%;
}
.message-text h1, .message-text h2, .message-text h3 { margin-top: 0px; }
.message-text li { margin-left: 2em; }

.event-settings #description {
	resize: none;
}

li.message .parallax-image-wrapper {
	max-width: 100%;
	max-height: 80%;
	position: static;
	overflow: hidden;
}
li.message .parallax-image-wrapper > img {
    width: auto;
    display: block;
}

@media (min-width: 992px) {
	body { font-size: 1.5em; }
	ol#messages {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.message-sent {
		font-size: 1em;
	}
	#editor-panel {
		width: 60%;
	}
}
