
@import "../../../less/variables.less";

.postmessage {
	overflow: hidden;
}

.editor-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	z-index: 299;
	background: @body-bg;

	section {
		position: absolute;
		height: 40px;
		width: 50%;
		top: 30;
		padding: 10px;
		font-size: @font-size-small;
		text-transform: uppercase;
		border-bottom: 0;
		background: @gray-lighter;
		@media (@md) {
			background: @body-bg;
		}
		&:hover {
			background: darken(@gray-lighter, 4%);
			@media (@md) {
				background: @body-bg;
			}
		}

		cursor: pointer;
		@media (@md) {
			cursor: auto;
		}

		&.active {
			cursor: auto;
			background: @body-bg;
		}
	}


	.editor-edit-header {
		left: 0;
	}

	.editor-preview-header {
		left: 50%;
		border-left: 1px solid @gray-lighter;
	}
}

.editor-tab {
	width: 100%;
	@media (@md) {
		width: 50%;
	}

	height: 100%;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: @body-bg;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	padding-top: 60px;
	padding-bottom: 60px;
}

.editor-edit-panel {
	&.active {
		z-index: 201;
		@media (@md) {
			z-index: 200;
		}
	}

	.editor-textarea {
		position: relative;
		width: 100%;
		padding: 0;
		padding-left: 2%;
		padding-right: 2%;
		@media (@md) {
			width: 50%;
			padding-left: 1%;
			padding-right: 1%;
		}

		height: 99%;
		top: 0;
		left: 0;
		bottom: 0;
		border: 0;
		resize: none;
		font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
		font-weight: 500;
	}

	.editor-textarea:focus {
		box-shadow: 0;
		outline: 0;
	}
}

.editor-preview-panel {

	@media (@md) {
		left: 50%;
		border-left: 1px solid @gray-lighter;
	}

	.message {
		padding-top: 0;
		margin-top: 0;
		border: 0;
		width: 100%;
		padding-left: 2%;
		padding-right: 2%;
		@media (@md) {
			width: 50%;
			padding-left: 1%;
			padding-right: 1%;
		}
	}

	.message-footer {
		display: none;
	}
}

.editor-action-panel {
	width: 100%;
	position: fixed;
	z-index: 299;
	bottom: 0;
	left: 0;
	right: 0;
	background: @gray-dark;
	padding: 5px;
	border-top: 1px solid #000;

	button {
		border-radius: 2px;
	}
}

