
@import "../../../less/variables.less";

#countdown-text {
	width: 100%;
	max-width: 100%;
	
	.text-center;

	/*
	* Show this text countdown by default for mobile, upgrade to FlipClock.js on medium+ displays. 
	*/
	display: block;
		@media (@md) {
			display: none;
		}
}

#countdown-clock {
	width: 650px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;

	.text-center;

	/*
	*	FlipClock.js is not responsive. 
	* 	https://github.com/objectivehtml/FlipClock/issues/161
	* Only show the fancy countdown on medium+ displays.
	* 	Fallback to a less specific textual version of the time until event start. 
	*/
	display: none;
		@media (@md) {
			display: block;
		}

	.flip-clock-label, .flip-clock-divider {
		font-size: 1.2em;
		font-weight: @font-weight-bold;
		font-family: 'Oswald';
	}
}

.unread-status-bar {
	background: #DFF0D8; 
	color: #3C763D; 
	border: 1px solid #3C763D; 
	width: 100%; 
	padding: 10px; 
	position: fixed; 
	top: 0; 
	left: 0; 
	right: 0; 
	z-index: 199; 
	border-top: 0; 
	border-left: 0; 
	border-right: 0; 
	text-align: center;

	&.ng-hide-add.ng-hide-add-active, &.ng-hide-remove.ng-hide-remove-active {
	  transition: all linear 0.3s;
	}

	&.ng-hide {
	  line-height: 0;
	  opacity: 0;
	  padding: 0 10px;
	}

	a, a:hover {
		color: @gray-dark;
		cursor: pointer;
	}
}

.event-header {
	position: relative;
	width: 100%;
	/*background: @gray-lightest;*/
	padding: 1em;
	padding-bottom: 0;

	.event-title {
		.text-center;
		margin: 0;
	}

	.event-description {
		.text-center;
	}

	.event-creator {
		.text-center;
		.text-muted;
		font-size: @font-size-small;
	}

	.event-postmessage {
		.text-center;
		font-size: @font-size-small;
	}
}

.event-owner {
	display: inline-block;
	position: relative;
	height: 100px;
	width: 100px;
}

.event-owner-img {
	position: absolute;
	top: 25%;
	z-index: 99;
	border: 2px solid @body-bg;
	border-radius: 100%;
}

.event-owner-name {
	position: absolute;
	bottom: 0;
	left: 100%;
	padding-left: @font-size-small;
	white-space: nowrap;
	font-weight: @font-weight-light;
	a, a:hover {
		font-weight: inherit;
		color: inherit;
	}
}

.set-cover-button-wrapper {
	display: none;
}

.event-status-bar {
	border-bottom: 1px solid @gray-lighter;
	width: 100%;
	background: #FFF;
	position: relative;
	font-size: (@font-size-small * 0.75);
		@media (@sm) {
			font-size: @font-size-small;
		}

	.typing-status {
		display: inline-block;
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: (@font-size-small * 0.6);
			@media (@sm) {
				font-size: @font-size-small;
			}
	}

	.status-panel {
		display: inline-block;
		text-transform: uppercase;
		.text-center;
		padding: 0 0 0 1em;

		.status-number {
			font-size: (@font-size-small * 0.9);
				@media (@sm) {
					font-size: @font-size-large;
				}
			border-bottom: 2px solid @brand-primary;
			display: block;
			width: 4em;

			.unread-message-count {
				vertical-align: super;
				font-size: (@font-size-small * 0.6);
					@media (@sm) {
						font-size: @font-size-small;
					}

				background: @brand-primary;
				color: white;
				padding: 0 0.1em 0 0.1em;
				border-radius: 10%;
				position: relative;

			}
		}
	}

	.message-count-panel {
		margin-left: 100px;
	}
}

.event-postmessage {
	position: relative;
	z-index: 150;
	width: 100%;
}

.event-postmessage-button {
	position: absolute;
	right: 0;
	top: 0;
	font-family: Arial;
	font-size: 50px;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	padding: 0;
	margin: 15px;
	border-radius: 3px;
	border: 1px solid @gray-lighter;
}
