<form role="form" class="responsive-content">
  <header>
    <h2>
   		<a ui-sref="app.event({username: username, slug: event.slug})">
      	<span class="emphasize">{{event.name}}</span> settings
      </a>
    </h2>
  </header>

  <div class="panel panel-default">
  	<div class="panel-heading">Basics</div>
  	<div class="panel-body">

		  <div class="form-group">
		    <label for="name">Name</label>
		    <input type="text" class="form-control" id="name" name="name" placeholder="Enter a name for this event" ng-model="updatedEvent.name" autofocus />
		  </div>
		  <div class="form-group">
		    <label for="slug">Url</label>
		    {{baseEventUrl}}
		    <input type="text" class="form-control" id="slug" name="slug" placeholder="Event url" ng-model="updatedEvent.slug" />
		  </div>
		  <div class="form-group">
		    <label for="start">When is this event?</label>
		    <div class="form-group">
	      	<input size="10" class="form-control" ng-model="updatedEvent.start" data-autoclose="1" placeholder="Start date" bs-datepicker type="text" />
		    </div>
		    <div class="form-group">
		      <input size="8" class="form-control" ng-model="updatedEvent.start" data-autoclose="1" placeholder="Start time" bs-timepicker data-time-format="hh:mm a" data-length="1" data-minute-step="1" data-arrow-behavior="picker" type="text" />
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="description">Description</label>
		    <textarea id="description" class="form-control" ng-model="updatedEvent.description" />
		  </div>
		  <div class="form-group">
		    <label for="location">Location</label>
		    <input type="text" class="form-control" id="location" name="location" placeholder="Location (eg: Vancouver, BC)" ng-model="updatedEvent.location" />
		  </div>
		  <div class="form-group">
		  	<button class="btn btn-success" ng-click="save()">Save all event settings</button>
		  </div>
		</div>
	</div>

  <div class="panel panel-danger">
  	<div class="panel-heading">Danger Zone</div>
  	<div class="panel-body">
	  	<div class="form-group">
	  		<input type="checkbox" id="hidden" name="hidden" ng-model="updatedEvent.hidden" ng-change="setHidden()" /> 
	  		<label for="hidden">Hidden</label>
	  		<p>
	  			Hiding this event would prevent viewers from seeing the entire event page, including any messages posted in it. You should only do this if you want to keep this event secret for a while.  
	  		</p>
	  	</div>
	  	<div class="form-group">
				<label for="delete">Delete this event</label>
				<span ng-init="isDeleting = false" />
				<div class="form-group" ng-show="!isDeleting">
					<button class="btn btn-danger pull-right" id="delete" ng-click="isDeleting = true">Delete this event</button>
				</div>
				<div class="form-group" ng-show="isDeleting">
					<label for="confirm-delete-name">Enter the exact event name to confirm permanent deletion.</label>
					<input type="text" class="form-control" id="confirm-delete-name" placeholder="Confirm event name" ng-model="deleteConfirmationName" />
					<button class="btn btn-danger pull-right" ng-click="delete()">Delete this event</button>
					<button class="btn btn-default pull-right" ng-click="isDeleting = false">Cancel delete</button>
			  </div>
			</div>
  	</div>
	</div>
</form>
