
<div class="pending-event-view" ng-show="!isEventInPast()">
	<h1 class="text-center event-title">
		<span class="emphasize" ng-bind="event.name" />
	</h1>
	<div class="text-center">
		<br />
		<h3 class="text-muted">will start...</h3>
		<br />
		<div id="countdown-clock" />
		<div id="countdown-text" am-time-ago="event.start" />
		<br />
		<h5 class="text-muted">on {{event.start | amDateFormat:'dddd, MMMM Do YYYY [at] h:mm a'}}.</h5>
		<button class="btn btn-info btn-xlrg">Subscribe and get a reminder</button>
	</div>
</div>

<div class="active-event-view" ng-show="isEventInPast()">
	<header class="event-header-bar">
		<h3 class="event-title">
			<!-- <span class="event-settings">
				<a ui-sref="editEvent({channel:event.channel})"><span class="glyphicon glyphicon-cog"></span></a>
			</span> -->
			<span class="emphasize" ng-bind="event.name" />
		</h3>
		<div class="event-creator">by <span ng-bind="event.creator" /> Marc Windle</div>
		<div class="event-postmessage">
			<a ui-sref="post({channel: event.channel})">
				<button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> New Message</button>
			</a>
		</div>
	</header>
	<div zum-waypoint="waypoints" down="flags.on" up="flags.off"> </div>
	<div class="event-status-bar" ng-class="{ 'sticky': waypoints.flags.on }">
		<div class="status-panel message-count-panel">
			<header>Posts</header>
			<span class="status-number">{{messages.length || 0}}<span class="unread-message-count">14</span></span>
		</div>
		<div class="status-panel viewer-count-panel">
			<header>Viewers</header>
			<span class="status-number" ng-bind="viewers || 0" />
		</div>
		<div class="event-status-title">
			<span ng-bind="event.name" />
		</div>
		<div class="typing-status" ng-show="typing">
			<span ng-show="typing.author" ng-bind="typing.author + ' is '" />
			<span ng-bind="'typing...'" />
		</div>
	</div>
	<ol id="messages">
		<li class="message" ng-repeat="message in messages" ng-include="'modules/core/views/message.view.html'" />
	</ol>
</div>