 <form role="form" class="responsive-content">
  <header>
    <h2>
      <span class="emphasize">Create Event</span>
    </h2>
  </header>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id="name" name="name" placeholder="Name" ng-model="name" autofocus />
  </div>
  <div class="form-group">
    <label for="channel">Channel</label>
    <input type="text" class="form-control" id="channel" placeholder="Channel" ng-model="channel" />
    <small>Channel names cannot be changed later.</small>
  </div>
  <button type="submit" class="btn btn-primary login-btn" ng-click="createEvent()">Create event</button>
</form>