<a ng-if="canEditProfile()" style="position: absolute; top: 20px; right: 20px; " ng-click="logout()">
  <button class="btn btn-default btn-sm">Sign out</button>
</a>

<div class="dashboard-container responsive-content">
  <header class="profile-summary" ng-show="user.$resolved">
    <img class="avatar profile-avatar" ng-show="user.emailHash" ng-src="//www.gravatar.com/avatar/{{user.emailHash}}?s=100&d=mm" />
    <section class="profile-attributes">
      <div class="profile-attributes-wrapper">
        <article class="profile-name">
          <h4 ng-bind="user.displayName"></h4>
          <span ng-show="user.name" ng-bind="'@' + user.username"></span>
        </article>
        <hr />
        <article class="profile-location" ng-show="user.location" >
          <span class="glyphicon glyphicon-map-marker"></span>
          <span ng-bind="user.location"></span>         
        </article>
        <article class="profile-email" ng-show="user.email">
          <span class="glyphicon glyphicon-envelope"></span>
          <a href="mailto://{{user.email}}" ng-bind="user.email"></a>
        </article>
        <article class="profile-website" ng-show="user.website">
          <span class="glyphicon glyphicon-link"></span>
          <a href="{{user.website}}" target="_blank" ng-bind="user.website"></a>
        </article>
        <div class="edit-profile">
          <a ng-if="canEditProfile()" ui-sref="app.editProfile()">
            <button class="btn btn-default btn-sm">Edit profile</button>
          </a>
        </div>
      </div>
    </section>
  </header>

  <div class="event-summary-panel panel panel-default">
    <div class="panel-body">

      <div class="event-summary-row" ng-repeat="event in events | orderBy:'_id':false">
        <span class="event-summary-icon" />
        <span class="event-summary-name">
          <a ui-sref="app.event({username: username, slug: event.slug})">{{event.name}}</a>
          <br />
          <span class="event-summary-url" ng-bind="getDisplayUrlForEvent(event)"></span>
          <br />
          <span class="event-summary-start" ng-if="event.start">
            <span class="glyphicon glyphicon-time" />
            <span am-time-ago="event.start" />
          </span>
        </span>
      </div>

      <div class="no-events" ng-if="events.$resolved && !events.length">
        <span ng-bind="user.displayName"></span> doesn't have any events yet. 
      </div>

      <div class="new-event-button-container">
        <a ng-if="canEditProfile()" ui-sref="app.create">
          <button class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span> Event
          </button>
        </a>
      </div>

    </div>
  </div>
  <div>
    
  </div>
</div>
