
<div class="pending-event-view" ng-show="!isEventInPast()">
	<h1 class="text-center event-title">
		<span class="emphasize" ng-bind="event.name" />
	</h1>
	<div class="text-center">
		<br />
		<h3 class="text-muted">will start in...</h3>
		<br />
		<div id="countdown-clock" class="text-center" />
		<br />
		<h5 class="text-muted">on {{event.start | amDateFormat:'dddd, MMMM Do YYYY [at] h:mm a'}}.</h5>
		<button class="btn btn-info btn-xlrg">Subscribe and get a reminder</button>
	</div>
</div>

<div class="active-event-view" ng-show="isEventInPast()">
	<div class="event-status-bar">
		<h3 class="text-center event-title">
			<span class="emphasize" ng-bind="event.name" />
		</h3>
		<div class="typing-status" ng-show="typing">
			<span ng-show="typing.author" ng-bind="typing.author + ' is '" />
			<span ng-bind="'typing...'" />
		</div>
		<div class="status-panel message-count-panel">
			<header>Messages</header>
			<span class="status-number" ng-bind="messages.length || 0" />
		</div>
		<div class="status-panel viewer-count-panel">
			<header>Viewers</header>
			<span class="status-number" ng-bind="viewers || 0" />
		</div>
		<a ui-sref="post({channel: event.channel})">
			<button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> New Message</button>
		</a>
		<a ui-sref="editEvent({channel:event.channel})">
			<button class="btn btn-default"><span class="glyphicon glyphicon-cog"></span> Event Settings</button>
		</a>
	</div>
	<ol id="messages">
		<li class="message" ng-repeat="message in messages" ng-include="'partials/message.html'" />
	</ol>
</div>