
@import "variables.less";

/* Set heights and positions to push that footer to the page bottom */
html {
	height: 100%;
}

body {
	height: 100%;

	> .container-fluid {
		min-height: 100%;
		position: relative;

		.main-footer-wrapper {
			position: absolute;
			bottom: -@main-footer-height;
			height: @main-footer-height;
			width: 100%;
		}
	}
}

h1 {
	@media (@md) {
		font-size: floor((@font-size-base * 5.6));
	}
}

h2 {
	@media (@md) {
		font-size: floor((@font-size-base * 4.6));
	}
}

h3 {
	@media (@md) {
		font-size: floor((@font-size-base * 3.6));
	}
}

h4 {
	@media (@md) {
		font-size: floor((@font-size-base * 2.6));
	}
}

h5 {
	@media (@md) {
		font-size: floor((@font-size-base * 1.6));
	}
}

h6 {
	@media (@md) {
		font-size: @font-size-base;
	}
}

button, .btn {
	text-transform: uppercase;
	font-weight: @font-weight-light;
}

.textured-carbon-bg {
	background: url('/images/tactile_noise.png') repeat scroll 0 0 black;
	color: @font-color-on-bg;
} 

.emphasize {
	color: @brand-primary;
}

.text-large {
	font-size: @font-size-large;
}

.avatar {
	border-radius: 100%;
}

.animate {

	&.ng-hide-add.ng-hide-add-active, &.ng-hide-remove.ng-hide-remove-active {
	  transition: all linear 0.3s;
	}

	&.ng-hide {
	  line-height: 0;
	  opacity: 0;
	  padding: 0 10px;
	}

	&.ng-enter, &.ng-move {
	  transition: all 0.3s ease-in;
	  opacity: 0.7;
	  max-height: 0;
	}

	&.ng-enter.ng-enter-active, &.ng-move.ng-move-active {
	  opacity: 1;
	  max-height: 5000px;
	}

	&.ng-leave {
		animation: 0.3s fadeaway;
	}

}

@keyframes fadeaway {
	from { 
		opacity: 1;
		max-height: 5000px;
	}
	to { 
		opacity: 0.7;
		max-height: 0;
	}
}

.notification-bar {
	width: 100%; 
	padding: 10px; 
	position: fixed; 
	top: 0; 
	left: 0; 
	right: 0; 
	z-index: 199; 
	text-align: center;
	background: @body-bg;
	border: 1px solid black;
	font-weight: @font-weight-light;

	a, a:hover {
		color: black;
	}
}

.notification-bar-success {
  background: @btn-success-bg; 
	color: @btn-success-color; 
	border-color: @btn-success-border;
}

.notification-bar-warning {
  background: @btn-warning-bg; 
	color: @btn-warning-color; 
	border-color: @btn-warning-border;
}

.notification-bar-danger {
  background: @btn-danger-bg; 
	color: @btn-danger-color; 
	border-color: @btn-danger-border;
}

.notification-bar-bottom {
	top: auto;
	bottom: 0;
}

.wrapper {
	.make-row();
}

.main-header { 
	.make-xs-column(12, 0);
	padding: 5px;

	.logo {
		margin: 0;
		margin-left: @font-size-base;
		font-family: @headings-font-family;
		font-weight: @headings-font-weight;
		@media (@sm) {
			font-size: floor((@font-size-base * 2));
		}
		font-variant: small-caps;
		color: @font-color-on-bg;
		text-decoration: none;
		letter-spacing: 0.08em;
		min-height: 35px;
	}

	.identity-status {
		font-weight: 300;
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		right: 5px;
		@media (@md) {
			right: 15px;
		}
		font-size: 14px;
		line-height: 14px;
		height: 14px;
		margin-top: -7px;
	}

	.identity-status-avatar {
		border-radius: 2px;
	}
}

.main-content { 
	.make-xs-column(12, 0);

	.responsive-content {
		.center-block;
		max-width: 90%;
	}

}

.main-form {
	width: 90%;
	@media (@md) {
		max-width: 60%;
	}
	@media (@lg) {
		max-width: 50%;
	}

	margin: auto;
}

.main-form-small {
	width: 90%;
	@media (@md) {
		max-width: 40%;
	}
	@media (@lg) {
		max-width: 30%;
	}

	margin: auto;
}



.main-form-header, .main-form-footer {
	text-align: center;
	padding: 10px;
}

.back-link-header {
	padding: 5px; 
	border-bottom: 1px solid @gray;
}


.main-footer {
	.make-xs-column(12, 0);

	.make-sm-column(10, 0);
	.make-sm-column-offset(1);

	.make-md-column(6, 0);
	.make-md-column-offset(3);

	.text-center;
	
	padding: @padding-small-vertical 0 @padding-small-vertical 0;
		@media (@sm) {
			padding: @padding-large-vertical 0 @padding-large-vertical 0;
		}
	
	font-size: @font-size-small;
		@media (@sm) {
			font-size: @font-size-base;
		}

	font-weight: @font-weight-light;
	border-top: 1px solid @gray-lightest;
 
	.footer-link {
		.make-xs-column(12, 0);
		.make-sm-column(2, 0);

		@media (@sm) {
			padding: @padding-small-vertical 0 @padding-small-vertical 0;
		}
	}

	.footer-link:first-of-type {
		.make-sm-column-offset(1);
	}
	
	.creation-statement {
		.make-xs-column(12, 0);
		.text-center;

		padding-top: 1em;
		font-size: @font-size-small;

		.love {
			.text-primary;
			font-size: @font-size-base;
		}
	}
}
