<!DOCTYPE html>
<html lang="en" ng-app="liveBlogApp">
	<head>
		<title ng-bind="title">LitePost.io</title>
		<base href="/app" />
		<% include partials/stylesheets %>
	</head>
	<body>
		<% include partials/top-bar %>
	  <div class="main-content">
	  	<div class="view-content" ui-view />
		</div>
		<% include partials/footer %>

		<% jsFiles.forEach(function (jsFile) { %>
		<script src="<%= jsFile %>"></script>
		<% }); %>
	</body>
</html>