{% set title = 'LitePost.io - Publish instantly to a live audience' %}
{% set page = 'home' %}
{% extends 'layout.html' %}

{% block content %}
<div class="home-page-tagline textured-carbon-bg">
	<header class="hero-banner">
  	<h1>
  		Publish <span class="emphasize">instantly</span> to a <span class="emphasize">live</span> audience.
  		<div><a href="/app/join"><button class="btn btn-primary">Join now</button></a></div>
  	</h1>
  	<h5>or <a href="/app/login">sign in</a>.</h5>
  </header>
</div>
blah blah blah, this is where you learn more. 
{% endblock %}
