<!DOCTYPE html>
{% set ngAppName = 'liveBlogApp' %}
<html lang="en"{% if ngAppName %} ng-app="{{ngAppName}}"{% endif %}>

<head>
	<title{% if page === 'app' %} ng-bind="title"{% endif %}>{{title}}</title>
	
	{% if page === 'app' %}
	<!-- Base for HTML5 Angular App -->
	<base href="/app/">
	{% endif %}

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body{% if ngAppName %} ng-class="pageClass"{% endif %}>
	<div class="container-fluid">
			
		<div class="wrapper main-header-wrapper">
			<header class="main-header clearfix text-center textured-carbon-bg">
				<div class="pull-left">
					<a class="logo" href="/">LitePost<span class="emphasize">.io</span></a>
				</div>
				<div class="identity-status" ng-controller="IdentityStatusController">
					{% raw %}
					<div>
						<a ng-if="me.username" href="/app/{{me.username}}">
							<img class="identity-status-avatar" ng-if="me.emailHash" ng-src="//www.gravatar.com/avatar/{{me.emailHash}}?s=20&d=mm" />
							<span ng-bind="me.name || '@'+me.username"></span>
						</a>

						<span ng-if="!me.username">
							<a href="/app/join">Join</a>
							<span> | </span>
							<a href="/app/login">Sign in</a>
						</span>
					</div>
					{% endraw %}
			  </div>
			</header>
		</div>

		<div class="wrapper main-content-wrapper">
		  <div class="main-content">
		  	{% block content %}{% endblock %}
			</div>
		</div>
		
		<div class="wrapper main-footer-wrapper">
		  <footer class="main-footer">
					<span class="footer-link">&nbsp;</span>
					<span class="footer-link"><a href="/#about">About</a></span>
					<span class="footer-link"><a href="/#contact">Contact</a></span>
					<span class="footer-link"><a href="https://github.com/mwindle/litepost.io" target="_blank">On GitHub</a></span>
					<span class="footer-link">&nbsp;</span>
					<div class="creation-statement">
						Created with <span class="glyphicon glyphicon-heart love"></span> in my living room. 
					</div>
			</footer>
		</div>

	</div>

	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}
	</body>
</html>